# Compiled object files
*.o
*.so
*.bc

# Compiled test programs
test_nostr_filter

# Ignore test results
test/results/

# PostgreSQL extension build artifacts
build/

# Logs
*.log

# IDE Settings
.vscode
*.swp
*~

# Ignore Docker files
*.tar
